<a href="https://colab.research.google.com/github/Harshith-SG/ThaparSummerSchool/blob/Assignments/Assignment_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import time as time
begin=time.time()

Q1

In [2]:
l=[11,12,13,14]
l.append(50)
l.append(60)
print(l)

[11, 12, 13, 14, 50, 60]

In [3]:
l.remove(11)
l.remove(13)
print(l)

[12, 14, 50, 60]

In [4]:
l.sort()
print(l)

[12, 14, 50, 60]

In [5]:
l.sort(reverse=True)
print(l)

[60, 50, 14, 12]

In [6]:
print( 13 in l)

False

In [7]:
print(len(l))

4

In [8]:
print(sum(l))

136

In [9]:
s=0
for i in l:
  if i%2!=0:
    s=s+i
  print (s)

0
0
0
0

In [10]:
s=0
for i in l:
  if i%2==0:
    s=s+i
print(s)

136

In [11]:
def prime_checker(n):
  for i in range(2,n//2+1):
    if n%i==0:
      return 0
  return 1
s=0
for i in l:
  if prime_checker(i)==1:
    print(i)
    s=s+i
print (s)

0

In [12]:
l.clear()
print (l)

[]

In [13]:
del l
# print(l)

Q2

In [14]:
d={1:5.6, 2:7.8, 3:6.6, 4:8.7, 5:7.7}
d[8]=8.8
del d[2]
print(6 in d)

False

In [15]:
print(len(d))

5

In [16]:
s=0
for i in d:
  s=s+d[i]
print(s)

37.4

In [17]:
d[3]=7.1

In [18]:
d.clear()
print (d)

{}

Q3

In [19]:
s1= set([10, 20, 30, 40, 50, 60])
s2= set([40, 50, 60, 70, 80, 90])
s1.add(55)
s1.add(66)
s1.remove(10)
s1.remove(30)
s3=s1.union(s2)
s4=s1.intersection(s2)
s5=s1-s2
print(s5)
# print(s1)

{66, 20, 55}

Q4

In [20]:
import random as ran
def ranstr():
  strlen=ran.randint(6,8)
  a=''
  # print (a)
  for i in range(strlen):
    a=a+chr(ran.randint(97,122))
    # print (a)
  print (a)

for i in range(5):
  ranstr()

ehhlcxap
rlpuftxt
xvxzpkt
blarrqm
wksiosmf

In [21]:
def prime_checker(n):
  for i in range(2,n//2):
    if n%i==0:
      return 0
  return 1
s=0
for i in range(600,800):
  if prime_checker(i)==1:
    print (i)

601
607
613
617
619
631
641
643
647
653
659
661
673
677
683
691
701
709
719
727
733
739
743
751
757
761
769
773
787
797

In [22]:
for i in range(100,1000):
  if i%7==0 or i%9==0:
    print (i)

105
108
112
117
119
126
133
135
140
144
147
153
154
161
162
168
171
175
180
182
189
196
198
203
207
210
216
217
224
225
231
234
238
243
245
252
259
261
266
270
273
279
280
287
288
294
297
301
306
308
315
322
324
329
333
336
342
343
350
351
357
360
364
369
371
378
385
387
392
396
399
405
406
413
414
420
423
427
432
434
441
448
450
455
459
462
468
469
476
477
483
486
490
495
497
504
511
513
518
522
525
531
532
539
540
546
549
553
558
560
567
574
576
581
585
588
594
595
602
603
609
612
616
621
623
630
637
639
644
648
651
657
658
665
666
672
675
679
684
686
693
700
702
707
711
714
720
721
728
729
735
738
742
747
749
756
763
765
770
774
777
783
784
791
792
798
801
805
810
812
819
826
828
833
837
840
846
847
854
855
861
864
868
873
875
882
889
891
896
900
903
909
910
917
918
924
927
931
936
938
945
952
954
959
963
966
972
973
980
981
987
990
994
999

Q5

In [23]:
import random as ran
def createList(n):
  l1=[]
  for i in range(n):
    l1.append(ran.randint(10,30))
  return l1
n=5
l1=set(createList(n))
l2=set(createList(n))
print(l1)
print(list(l1.intersection(l2)))
print(list(l1.union(l2)))
print(min(list(l1)),min(list(l2)))
print(max(list(l1)),max(list(l2)))
print(list(l1)+list(l2))

{27, 26, 19, 12}
[12]
[10, 12, 14, 19, 20, 24, 26, 27]
12 10
27 24
[27, 26, 19, 12, 10, 12, 14, 20, 24]

q6

In [24]:
import random as ran
def createList():
  l1=[]
  for i in range(10):
    l1.append(ran.randint(100,900))
  return l1
l=createList()
even=[]
odd=[]
prime=[]
for i in l:
  if prime_checker(i)==1:
    prime.append(i)
  if i%2==0:
    even.append(i)
  else:
    odd.append(i)

Q7

In [25]:
D={1:"One",2:"Two",3:"Three",4:"Four", 5:"Five"}
for i in D:
  print(i,",",D[i])

1 , One
2 , Two
3 , Three
4 , Four
5 , Five

Q8

In [26]:
L=list({"One","Two","Three","Four","Five"})
for i in L:
  print(i,len(i))

Two 3
Five 4
Four 4
One 3
Three 5

Q9

In [27]:
def createString():
  r=ran.randint(10,15)
  l1=''
  for i in range(r):
    l1=l1+chr(ran.randint(97,122))
  return l1
fw=open('q9.txt','w')
for i in range(100):
  fw.write(createString())
fw.close()

Q10

In [28]:
fw=open('q9.txt','w')
for i in range(600,800):
  if prime_checker(i)==1:
    fw.write(chr(i))
fw.close()

Q11

In [29]:
end=time.time()
print("time taken =", end-begin,"s")

time taken = 1.1204936504364014 s

Q12

In [30]:

def randintlist(n):
  l=[]
  for i in range(n):
    l.append(ran.randint(0,9))
  return l
t0=time.time()
l1=randintlist(5000)
t1=time.time()
l2=randintlist(10000)
t2=time.time()
l3=randintlist(15000)
t3=time.time()
l4=randintlist(20000)
t4=time.time()
l5=randintlist(25000)
t5=time.time()
print(t1-t0,t2-t1,t3-t2,t4-t3,t5-t4)

0.023474931716918945 0.026694536209106445 0.04477190971374512 0.0335848331451416 0.018790245056152344

Q13

In [31]:
D={}
for i in range(10):
  l=[]
  for j in range(5):
    l.append(ran.randint(1,100))
  D[i]=l
print(D)
avg=list()
for i in range(10):
  avg.append(sum(D[i])/5)
for i in range(10):
  if min(avg)==avg[i]:
    print("Mininmum marks are if student", i)
for i in range(10):
  if max(avg)==avg[i]:
    print("Maximum marks are if student", i)

{0: [25, 46, 97, 74, 76], 1: [40, 44, 12, 74, 48], 2: [79, 22, 90, 20, 99], 3: [81, 46, 25, 55, 71], 4: [14, 25, 81, 10, 13], 5: [38, 71, 100, 3, 79], 6: [36, 97, 37, 95, 55], 7: [21, 55, 24, 59, 11], 8: [79, 16, 42, 91, 91], 9: [28, 31, 3, 38, 65]}
Mininmum marks are if student 4
Maximum marks are if student 6

Time taken

In [32]:
program_end=time.time()
print("Time taken to execute this program =",program_end-begin)

Time taken to execute this program = 1.3160686492919922